<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<!-- 
		<typeAlias alias="Admin"     type="kr.caincheon.church.admin.vo.Admin"/>
		<typeAlias alias="User"      type="kr.caincheon.church.vo.User"/>
		 -->
	</typeAliases>

</configuration>